<nav>
    <a href="/">Home</a>
    <a href="/heroes">Héroes</a>
    <a href="/heroes/detalle/id/:id">Detalles</a>
    <a href="/heroes/bio/id/:id/:ok?">Biografía</a>
    <a href="/creditos">Créditos</a>
</nav>