<%- include('partials/head', { pageTitle: title }) %>
<%- include('partials/menu') %>

<h1><%= title %></h1>

<p class="resenia">Hecho con ❤️ en Programación Web Full Stack. Este proyecto celebra diversas personalidades que han marcado un hito en la ciencia de la computación. Descubre sus historias y cómo han moldeado nuestro mundo digital.</p>

<img src="/images/foto.png" alt="foto" class="foto">