<%- include('partials/head', { pageTitle: 'title' }) %>
<%- include('partials/menu') %>
<h1><%= title %></h1>
<p class="resenia">
  Aquí encontrarás algunos de los científicos y matemáticos destacados en el
  mundo de la ciencia y de la programación. Esperamos te sorprendas.
</p>
