body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://c.wallhere.com/photos/69/96/robot_androids_digital_art_CGI_science_fiction_black_background-110517.jpg!d');
  background-size: cover;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

a:hover{
  color: #00B7FF
}

p{
  font-size: 16px;
}

li{
  font-size: 14px;
}

.resenia{
 text-align: justify;
 width: 50%;
}

img{
  position: relative;
  left: 0;
  width: 450px;
  height: 300px;
}

.foto{
  width: 330px;
  height: 300px;
}